
@model StrongTicaret.Web.UI.App_Classes.Sepet
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function myfunction() {
        $(".UrunSil").click(function UrunSil() {

            var uId = $(this).attr("name");

            $.ajax({
                type: "GET",
                url: "/Home/SepetUrunAdetDusur",
                data: { id: uId },
                success: function myfunction(data) {
                
                    $.ajax({
                        type: "GET",
                        url: "/Home/MiniSepetWidget",
                        success: function myfunction(veri) {
                            $(".cart-all").html('');
                            $(".cart-all").html(veri);
                     
                        }

                    });

                },
                error: function myfunction() {
                    alert("hata")
                }
            });
        });
    });
</script>


<div class="cart-all">
    @if (Model != null)
    {
        <span>
            UrunAdet: @Model.Urunler.Sum(x => x.Adet)
        </span>
    }
    else
    {
        <span>0</span>
    }
    <i class="icon-19" title="19"></i>
    @if (Model != null)
    {
        //C2 tl simgesi eklemesi için
        <span> Toplam: @Model.ToplamTutar.ToString("C2")</span>
    }
    else
    {
        <span style="font:bold;">0 ₺</span>
    }

    <div class="inside-cart">


        <ul>
            
            @if (Model != null)
            {
                foreach (var item in Model.Urunler)
                {
                    <li>
                       
                        <div class="inside-cart-image">
                            @if (item.Urn.Resims != null)
                            {
                                <img src="@item.Urn.Resims.FirstOrDefault(x=>x.Varsayilan==true).OrtaYol" />
                            }
                        </div>
                     
                      <a class="UrunSil" name="@item.Urn.Id">sil</a>
                        
                       
                        
                        @if (Model != null)
                        {
                            <a href="/Home/UrunDetay/@item.Urn.Adi">@item.Urn.Adi</a>
                        }
                        <p>Tutar: @item.Tutar.ToString("C2")</p>
                        <p>Adet: @item.Adet</p>
                    </li>
                }

            }


        </ul>
    </div>
</div>

